.selection {
  background-color: rgb(22, 97, 168);
  height: 6vh;
  grid-column: 1 / 5;
}

.chatContent p {
  margin: 0px;
  padding: 0px;
}

.avatar img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.chatComponent {
  padding: 0 0 10px;
}

.coverImage {
  padding-left: 0;
}
.chatComponent:hover {
  background-color: #313338;
}
.groupChatTitle {
  margin: 0 auto;
  padding: 18.720px;
}
