.selection {
  background-color: rgb(22, 97, 168);
  height: 6vh;
  grid-column: 1 / 5;
}

.chatContent p {
  margin: 0px;
  padding: 0px;
}
.groupChat {
  padding: 6px;
  background-color: #36393f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupChat:hover {
  cursor: pointer;
  border-radius: 30%;
}
.groupChat::before {
  content: "";
  position: absolute;
}
.groupChat::after {
  content: attr(data-name);
  position: absolute;
  left: 70px;
  background-color: #18191c;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 10;
  color: #f7f7f7;
  visibility: hidden;
}
.groupChat:hover::after {
  opacity: 1;
  visibility: visible;
}
.avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.coverImage {
  padding-left: 0;
}
.groupChatTitle {
  margin: 0 auto;
  padding: 18.72px;
}

.channel {
  border: none;
  width: 90%;
  padding: 9px 10px 9px 10px;
  border-radius: 5px 0 0 5px;
}
