.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dFlex {
  display: flex;
}
.dGrid {
  display: grid;
}
.dInlineBlock {
  display: inline-block;
}
.dBlock {
  display: block;
}
.dNone{
  display: none;
}
.justifyEvenly {
  justify-content: space-evenly;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifyFlexStart {
  justify-content: flex-start;
}
.justifyFlexEnd {
  justify-content: flex-end;
}
.justifySpaceBetween{
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
.alignFlexStart {
  align-items: flex-start;
}
.formContainer {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.inputGroup {
  margin-bottom: 10px;
  width: 100%;
}
.inputGroup label {
  display: block;
  text-align: left;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.gridContainer {
  display: grid;
  grid-template-columns: 10% 90%; /* Two equal columns */
  grid-template-rows: 1fr; /* Single row */
  height: 100vh; /* Full viewport height */
}
.rightSided {
  display: grid;
  grid-template-columns: 15% 85%; /* Two equal columns */
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
.bgDanger {
  background-color: #d9534f;
}
.bgPrimary {
  background-color: #0275d8;
}
.bgSecondary {
  background-color: #6c757d;
}
.bgInfo {
  background-color: #5bc0de;
}
.bgSuccess {
  background-color: #5cb85c;
}
.bgWarning {
  background-color: #f0ad4e;
}
.bgInverse {
  background-color: #292b2c;
}
.btnFaded {
  border-color: #292b2c;
  background-color: #f7f7f7;
}
.bgBlack1 {
  background-color: #1e1f22;
}
.bgBlack2 {
  background-color: #313338;
}
.bgBlack3 {
  background-color: #2b2d31;
}
.bgBlack4 {
  background-color: #404249;
}
.textDanger {
  color: #d9534f;
}
.textPrimary {
  color: #0275d8;
}
.textInfo {
  color: #5bc0de;
}
.textSuccess {
  color: #5cb85c;
}
.textWarning {
  color: #f0ad4e;
}
.textInverse {
  color: #292b2c;
}
.textFaded {
  color: #f7f7f7;
}
svg {
  width: 2em;
  height: 2em;
}

.btnRounded {
  border-radius: 50%;
}

.form {
  border: 1px solid black;
  padding: 6vh;
  border-radius: 4vh;
  background-color: white;
}

.posRelative {
  position: relative;
}

.posAbsolute {
  position: absolute;
}

.posSticky {
  position: sticky;
}
.left50 {
  left: 50%;
}
.right50 {
  right: 50%;
}
.top50 {
  top: 50%;
}
.button50 {
  bottom: 50%;
}
.centerWithTransform {
  position: absolute;
  top: var(--top, 50%); /* Default to 50%, customizable */
  left: var(--left, 50%); /* Default to 50%, customizable */
  transform: translate(
    calc(var(--translate-x, -50%)),
    calc(var(--translate-y, -50%))
  ); /* Customizable translate values */
}

.overlay {
  position: fixed; /* Ensures it stays relative to the viewport */
  top: 0; /* Aligns the top edge with the top of the viewport */
  left: 0; /* Aligns the left edge with the left of the viewport */
  width: 100%; /* Covers the full width of the viewport */
  height: 100%; /* Covers the full height of the viewport */
  background-color: black; /* Background color */
  z-index: 1000; /* Ensure it's on top of other elements */
  opacity: 0.8; /* Optional: Makes it slightly transparent */
}

.borderNone {
  border: none;
}

button:hover {
  cursor: pointer;
}

.avatarCircle {
  width: var(--avatar-size, 100px);
  height: var(--avatar-size, 100px);
  border-radius: 50%;
}

.w100 {
  width: 100%;
}

.borderFaded {
  border: 1px #f7f7f7;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
